.main {
  font-family: 'poppins', sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  height: auto;
}

header {
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.itemNav {
  display: flex;
  gap: 20px;
}

.itemNav a {
  text-decoration: none;
  color: white;
}

#home-component {
  color: black;
  font-size: 16px;
  margin: 20px;
}

.loading {
  font-size: large;
  margin-top: 30vh;
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 5px 0 #000000bf;
  -webkit-box-shadow: 10px 10px 5px 0 #000000bf;
  -moz-box-shadow: 10px 10px 5px 0 #000000bf;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.layoutCalculator {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.Calculatrice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: tomato;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}

.affichage {
  grid-column: span 4;
  background-color: #007bff;
  color: #fff;
  font-size: 36px;
  padding: 10px;
  border: 1px solid #0056b3;
  border-radius: 5px;
  text-align: right;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  background-color: #0056b3;
  color: #fff;
  font-size: 24px;
  padding: 8px;
  margin: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #007bff;
}

.ColorBtn {
  background-color: #ff9a00;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.ColorBtn:hover {
  background-color: #ffad33;
}

.zero {
  grid-column: span 2;
}

.btnfinal {
  display: flex;
  flex-direction: row;
}
