header {
  display: flex;
  justify-content: space-between;
  background-color: darkcyan;
  color: aliceblue;
  font-size: xx-large;
  padding: 20px;
}

.itemNav {
  display: flex;
  margin-right: 20px;
  column-gap: 5vw;
}

.quote span {
  font-weight: bold;
}
