
.quote {
  font-size: large;
  margin-top: 30vh;
  height: auto;
  box-shadow: 10px 10px 5px 0 #000000bf;
  -webkit-box-shadow: 10px 10px 5px 0 #000000bf;
  -moz-box-shadow: 10px 10px 5px 0 #000000bf;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
